
:root {
  --dark-primary-color: #FBC02D;
  --default-primary-color: #FFEB3B;
  --light-primary-color: #FFF9C4;
  --text-primary-color: #FFFFFF;
  --accent-color: #FF5722;
  --primary-text-color: #212121;
  --second-background-color: hsla(53.9,100%,88.4%, 0.5);
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --shadow-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  --text-shadow-one: 0 1px 2px rgb(0,0,0);

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

ul { list-style: none; }

p { margin-top: 0; }

.wrapper {
  color: var(--primary-text-color);
  position: relative;
  scroll-behavior: smooth;
}

.navbar--main {
  font-size: 1rem;
  background-color: white;
  padding-bottom: 1rem;
}

.navbar--stuck { box-shadow: var(--shadow-two); }

.nav-item a {
  font-weight: 500;
  color: black !important;
  text-transform: uppercase;
}

.navbar--main .nav-link.active {
  color: var(--default-primary-color) !important;
  font-weight: 500;
  text-shadow: var(--text-shadow-one);
}

.navbar--main__brand {
  font-size: 1.5rem;
  font-style: italic;
}

.carousel--banner {
  height: 92vh;
  overflow: hidden;
}

.carousel--banner .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption__body {
  max-width: 58rem;
  text-shadow: var(--text-shadow-one);
  line-height: 1;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
}

.carousel-item--banner1 {
  background-image: url("../img/carousel/img5.jpg");
  background-position: 70% 10%;
}

.carousel-item--banner2 {
  background-image: url("../img/carousel/img3.jpg");
  background-position: 30% 10%;
}

.carousel-item--banner3 {
  background-image: url("../img/carousel/img4.jpg");
  background-position: 90% 90%;
}

.carousel--banner-caption {
  height: 100%;
  left: 0;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4rem;
  text-shadow: var(--shadow-one);
}

.carousel--banner__indicators { margin-bottom: 3rem; }

.carousel--banner__indicators li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: transparent;
}

.carousel--banner__indicators li.active {
  background-color: var(--default-primary-color);
  border-color: var(--primary-text-color);
}


.section { background-color: white; }

.section--about { padding-top: 0; }

.heading--about {
  text-transform: uppercase;
  color: black;
  font-size: 3rem;
  max-width: 20rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  //background-color: var(--second-background-color);
  background-color: white;
  padding-top: 18vh;
}

.intro-caption {
  margin-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.intro-image {
  width: 100%;
  height: 90vh;
  background-image: url("../img/workers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4.5rem;
  box-sizing: border-box;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.value__icon {
  height: 9rem;
  width: 9rem;
}

.value__heading {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.value__caption { margin: 0 .5rem 1.5rem .5rem; }

.logo {
  display: flex;
  font-size: .8rem;
}

.logo__image {
  width: 3em;
  height: 3em;
  margin-right: .5em;
}

.logo__large-text {
  line-height: 1;
  height: 1.5em;
  font-size: 1.5em;
}

.logo__small-text {
  line-height: 1;
  height: .8em;
  font-size: .8em;
  letter-spacing: .3em;
  margin-top: -.3em;
}

.section--services .btn { max-width: 20rem; }

.section--services::before {
  content: " ";
  display: block;
  width: 100%;
  background: grey;
  height: 60vh;
}

.section--services.lazy-bg-loaded::before {
  background: url("../img/backhoe.jpg") no-repeat center/contain;
}

.btn-outline-cta {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn { text-transform: uppercase; }

.btn-cta {
  background-color: var(--accent-color);
  color: white;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--default-primary-color);
  color: var(--primary-text-color);
}

.service-list {
  list-style-image: url("../img/checkmark_icon.svg");
}

.service-card { margin-bottom: 1.5rem; }

.section--contact {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.contact-form {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(0, 100%, 100%, 0.6);
  padding: 1rem;
  border-radius: .5rem;
}

.cards {
  margin-top: 4.5rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.service-card__header {
  height: 12rem;
  background: grey;
}

.service-card--1__header.lazy-bg-loaded {
  background: url("../img/dump_truck.jpg") 50% 50%/cover no-repeat;
}

.service-card--2__header.lazy-bg-loaded {
  background: url("../img/hydrolic_hammer.jpg") 50% 50%/cover no-repeat;
}

.service-card--3__header.lazy-bg-loaded {
  background: url("../img/john_deere.jpg") 50% 50%/cover no-repeat;
}

.footer a,
.footer {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.address-item { margin-bottom: .5rem; }

.address-item--location {
  list-style-image: url("../img/marker_icon.svg");
}

.address-item--email {
  list-style-image: url("../img/email_icon.svg");
}

.address-item--telephone {
  list-style-image: url("../img/telephone_icon.svg");
}

.map { margin-bottom: 3rem; }

.footer {
  padding-top: 4.5rem;
  background-color: black;
}

.footer-links {
  margin-bottom: 3rem;
  list-style: none;
}

.address { margin-bottom: 3rem; }

.social-links { justify-content: space-evenly; }

.copyright {
  text-align: center;
  border-top-style: solid;
  border-color: white;
  border-width: .08rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.quote-form__row {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .navbar--main__collapse {
    border-radius: 0;
    box-shadow: none;
  }

  .intro-image { width: 50%; }

  .intro-caption {
    width: 50%;
    padding-right: 10%;
    padding-left: 5%;
  }


  .value__icon {
    height: 9rem;
    width: 100%;
  }

  .section--services {
    position: relative;
    margin-top: 4.5rem;
  }

  .section--services::before {
    position: absolute;
    height: 100vh;
  }
  
  .service-caption {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 3rem;
    padding-right: 0%;
    font-size: 1rem;
    text-shadow: 0 1px 3px white;
  }
}

@media (min-width: 992px) {
  .service-caption {
    padding-right: 10%;
    font-size: 1.5rem;
  }

  .value__icon {
    height: 10rem;
    width: 6rem;
    max-width: 100%;
  }

  .section--contact {
    background: grey;
  }

  .section--contact.lazy-bg-loaded {
    background: url("../img/closed_for_construction.jpg") fixed center/cover;
  }
}

