

:root {
  --dark-primary-color: #FBC02D;
  --default-primary-color: #FFEB3B;
  --light-primary-color: #FFF9C4;
  --text-primary-color: #FFFFFF;
  --accent-color: #FF5722;
  --primary-text-color: #212121;
  --second-background-color: hsla(53.9,100%,88.4%, 0.5);
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --shadow-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  font-family: "Roboto", sans-serif;
  /*font-family: "Abril Fatface", cursive;*/
  font-size: 1rem;
  line-height: 1.5;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.wrapper {
  color: var(--primary-text-color);
}

.navbar--main {
  height: 5rem;
  font-size: 1rem;
  background-color: white;
}

.navbar--main a {
  color: var(--dark-primary-color) !important;
}

.navbar--main__brand {
  font-size: 2rem;
  text-shadow: var(--shadow-one);
  font-style: italic;
}

.navbar--main__collapse {
  background-color: white;
  padding: .5rem;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-three);
}

.carousel--banner {
  height: 100vh;
  overflow: hidden;
}

.carousel--banner .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption__heading,
.carousel-caption__body {
  text-align: left;
  max-width: 44rem;
}

.carousel-caption__heading {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
}

.carousel-caption__body {
  line-height: 1.5rem;
  font-size: 1.3rem;
}

.thin-heading {
  font-weight: 300;
}

.carousel-item--banner1 {
  background-image: url("../img/carousel/img4.jpg");
  background-position: 90% 20%;
}

.carousel-item--banner2 {
  background-image: url("../img/carousel/img2.jpg");
  background-position: 70% 10%;
}

.carousel-item--banner3 {
  background-image: url("../img/carousel/img3.jpg");
  background-position: 30% 10%;
}

.carousel--banner-caption {
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 9rem;
  text-shadow: var(--shadow-one);
}

.carousel--banner__indicators { margin-bottom: 3rem; }

.carousel--banner__indicators li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: transparent;
}

.carousel--banner__indicators li.active {
  background-color: var(--default-primary-color);
  border-color: var(--primary-text-color);
}


.section {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  background-color: white;
}

.section--intro { padding-top: 0; }

.caution-tape {
  background-color: var(--second-background-color);
  width: 100%;
  overflow: hidden;
  height: 6rem;
  display: flex;
  justify-content: flex-start;
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: .3rem;
}

.caution-tape__bar {
  width: 3rem;
  height: 100%;
  background-color: var(--default-primary-color);
  transform: skew(-20deg);
  margin-right: 3rem;
  flex: 0 0 auto;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--second-background-color);
}

.intro-image {
  width: 100%;
  height: 100vh;
  background-image: url("../img/workers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

.page-subsection--values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.value {
  box-sizing: border-box;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.value__icon {
  height: 10rem;
  width: 10rem;
  max-width: 100%;
}

/*.section--intro .btn { max-width: 20rem; }*/

.section--services .btn {
  max-width: 20rem;
  padding-top: 0;
}

.section--services::before {
  content: " ";
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/backhoe.jpg");
  height: 60vh;
}

.btn-outline-cta {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-cta {
  background-color: var(--accent-color);
  color: white;
}

.btn-primary {
  background-color: var(--default-primary-color);
  color: var(--primary-text-color);
}

.service-list {
  list-style-image: url("../img/checkmark_icon.svg");
}


.footer a,
.footer {
  color: var(--primary-text-color);
}

.footer {
  border-top-style: solid;
  border-width: .5rem;
  border-color: var(--dark-primary-color);
  background-color: var(--default-primary-color);
  font-size: 1.5rem;
}

.footer-links { list-style: none; }

.social-links { justify-content: space-evenly; }

.copyright { text-align: center; }

@media (min-width: 425px) {
  .section--services::before {
    background-position: 0% 60%;
  }
}

@media (min-width: 768px) {
  .navbar--main__collapse {
    border-radius: 0;
    box-shadow: none;
    text-shadow: var(--shadow-one);
  }

  .intro-image {
    width: 50%;
  }

  .intro-caption {
    width: 50%;
    padding-right: 10%;
  }

  /*
  .value {
    height: 12rem;
  }
  */

  .value__icon {
    height: 9rem;
    width: 100%;
  }

  .section--services {
    position: relative;
  }

  .section--services::before {
    position: absolute;
    height: 100vh;
    background-size: 95% 95%;
  }

  .service-caption {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 0%;
    font-size: 1.5rem;
    text-shadow: 0 1px 3px white, 0 1px 2px white;
  }

  .navbar--main {
    height: 3.5rem;
  }
}

@media (min-width: 992px) {
  .service-caption {
    padding-right: 10%;
  }
}

