

:root {
  --dark-primary-color: #FBC02D;
  --default-primary-color: #FFEB3B;
  --light-primary-color: #FFF9C4;
  --text-primary-color: #FFFFFF;
  --accent-color: #FF5252;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --shadow-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadow-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --shadow-four: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --shadow-five: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.wrapper {
  color: var(--primary-text-color);
}

.navbar--main {
  height: 4.5rem;
  font-size: 1.5rem;
  background-color: var(--default-primary-color);
}

.navbar--main__brand {
  font-size: 2rem;
  text-shadow: var(--shadow-two);
  font-style: italic;
}

.navbar--main__collapse {
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-three);
}

.btn-cta {
  color: var(--default-primary-color) !important;
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: .3rem ;
  background-color: white;
}

.banner__backdrop {
  background-color: var(--default-primary-color);
  padding-top: 2rem;
}

.carousel--banner {
  height: 90vh;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  overflow: hidden;
}

.carousel--banner__inner {
  background-color: grey;
}

.carousel--banner .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.thin-heading {
  font-weight: 300;
}

.carousel-item--banner1 {
  background-image: url("../img/carousel/img4.jpg");
  background-position: 90% 20%;
}

.carousel-item--banner2 {
  background-image: url("../img/carousel/img2.jpg");
  background-position: 70% 10%;
}

.carousel-item--banner3 {
  background-image: url("../img/carousel/img3.jpg");
  background-position: 30% 10%;
}

.carousel--banner-caption {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-shadow: var(--shadow-three);
}

.carousel--banner__indicators { margin-bottom: 3rem; }

.carousel--banner__indicators li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: transparent;
}

.carousel--banner__indicators li.active {
  background-color: var(--default-primary-color);
  border-color: var(--primary-text-color);
}


.section {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  background-color: white;
}

.section--alternate {
}

.section--intro { padding-top: 3rem; }

/*.page-subsection { margin-bottom: 4.5rem; }*/

.page-subsection--values {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.value {
  height: 10.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.value__icon {
  height: 6rem;
  width: 6rem;
}

.value__caption {
  text-align: center;
  width: 100%;
}

/*.section--intro .btn { max-width: 20rem; }*/

.section--services .btn { max-width: 20rem; }

.service-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/backhoe.jpg");
  height: 50vh;
}

.btn-outline-cta {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.service-list {
  list-style-image: url("../img/checkmark_icon.svg");
}


.footer a,
.footer {
  color: var(--primary-text-color);
}

.footer {
  border-top-style: solid;
  border-width: .5rem;
  border-color: var(--dark-primary-color);
  background-color: var(--default-primary-color);
  font-size: 1.5rem;
}

.footer-links { list-style: none; }

.social-links { justify-content: space-evenly; }

.copyright { text-align: center; }
